<div class="hero-banner-container container-fluid" style="background:url(https://img.veenaworld.com/festive-season/republic-day/republic-day-background.jpg) ; height: 470px; background-repeat: no-repeat;" >
    <h1 style="text-align: center;padding: 50px 0;">Lorem ipsum dolor, sit amet consectetur adipisicing.</h1>
    <div class="hero-banner-cards container d-flex gap-4 justify-content-center">
        <!-- Card -->
        <div class="card" style="width: 230px; height: 240px;object-fit: cover;overflow: hidden;">

            <!-- Card image -->
            <div class="view overlay">
            <img style="width: 100%;" class="card-img-top" src="https://img.veenaworld.com/group-tours/india/gujarat/gtsd/tbh-GTSD-382021.jpg"
                alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!-- Card content -->
            <div style="padding: 10px;" class="card-body">
                <h6>Highlights of Gujarat</h6>
                <div class="card-discription-ctm d-flex justify-content-between align-items-center">
                    <h5 style="font-weight: 600;font-size: 16px;"> ₹30,000</h5>
                    <h6 style="font-size: 12px;">7 days | 5 departure</h6>
                </div>
            </div>
        
        </div>
    <!-- Card -->
        <!-- Card -->
        <div class="card" style="width: 230px; height: 240px;object-fit: cover;overflow: hidden;">

            <!-- Card image -->
            <div class="view overlay">
            <img style="width: 100%;" class="card-img-top" src="https://img.veenaworld.com/group-tours/india/gujarat/gtsd/tbh-GTSD-382021.jpg"
                alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!-- Card content -->
            <div style="padding: 10px;" class="card-body">
                <h6>Highlights of Gujarat</h6>
                <div class="card-discription-ctm d-flex justify-content-between align-items-center">
                    <h5 style="font-weight: 600;font-size: 16px;"> ₹30,000</h5>
                    <h6 style="font-size: 12px;">7 days | 5 departure</h6>
                </div>
            </div>
        
        </div>
    <!-- Card -->
        <!-- Card -->
        <div class="card" style="width: 230px; height: 240px;object-fit: cover;overflow: hidden;">

            <!-- Card image -->
            <div class="view overlay">
            <img style="width: 100%;" class="card-img-top" src="https://img.veenaworld.com/group-tours/india/gujarat/gtsd/tbh-GTSD-382021.jpg"
                alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!-- Card content -->
            <div style="padding: 10px;" class="card-body">
                <h6>Highlights of Gujarat</h6>
                <div class="card-discription-ctm d-flex justify-content-between align-items-center">
                    <h5 style="font-weight: 600;font-size: 16px;"> ₹30,000</h5>
                    <h6 style="font-size: 12px;">7 days | 5 departure</h6>
                </div>
            </div>
        
        </div>
    <!-- Card -->
        <!-- Card -->
        <div class="card" style="width: 230px; height: 240px;object-fit: cover;overflow: hidden;">

            <!-- Card image -->
            <div class="view overlay">
            <img style="width: 100%;" class="card-img-top" src="https://img.veenaworld.com/group-tours/india/gujarat/gtsd/tbh-GTSD-382021.jpg"
                alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!-- Card content -->
            <div style="padding: 10px;" class="card-body">
                <h6>Highlights of Gujarat</h6>
                <div class="card-discription-ctm d-flex justify-content-between align-items-center">
                    <h5 style="font-weight: 600;font-size: 16px;"> ₹30,000</h5>
                    <h6 style="font-size: 12px;">7 days | 5 departure</h6>
                </div>
            </div>
        
        </div>
    <!-- Card -->
    </div>
</div>